* {box-sizing: border-box;  margin: 0px;   padding: 0px;}
html {font-size: 62.5%;}

body{background-image: url("https://raw.githubusercontent.com/Jared-Nava/jarednava.dev/main/sources/start/pexels-524874-hi.webp");
    background-color: #1551D4;}

header, nav, aside, main, footer {display: flex;}

/*tag temporal*/
img{width: 100px;
    height: auto;}
/*tag temporal*/
h1 {color: white;}

header
    {
        margin-left: 5vw;
        background-color: rgba(0,255,0,0.2);
        width: 95vw;
        height: 8vh;
    }

.header__menu
    {
        background-color: royalblue;
    }
nav
    {
    background-color: royalblue;
    display: none;
    }

aside
    {
        position: fixed;
        background-color: rgba(158,100,200,0.3);
        width: 5vw;
        min-height: 100vh;
        top: 0;
        left: 0;
    }

main{
    margin-left: 5vw;
    background-color: rgba(255,0,0,0.3);
    width: 95vw;
    height: 92vh;}

footer{background-color: seagreen;}

.github_banner 
{
position: absolute;
width: auto;
height: auto;
bottom: 0;
right: 0;
background-color: rgba(0,0,0,0.3);
font-size: 1.6rem;
}